@import url('https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap');

:root {
  font: 16px / 1 'Bitter', sans-serif;
}

html {
  height: 100%;
  background-color: #f5ded2;
}

body {
  margin: 0;
  min-height: 100%;
  text-align: center;
  background-color: aquamarine;
  margin: 0rem 10rem 0rem 10rem;
  border-left: 0.3rem solid black;
  border-right: 0.3rem solid black;
}

li {
  list-style: none;
  color: black;
  text-decoration-color: black;
  padding: 2rem;
  font-size: 2rem;
  width: 20rem;
}

img {
  border-radius: 0.5rem;
  border: 0.3rem solid black;
}

nav {
  display: flex;
  justify-content: center;
  margin: 0rem;
}

.home {
  margin-top: 1.5rem;
  padding-left: 1rem;
  text-decoration: none;
  font-size: 3rem;
  background-color: #f5ded2;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.3rem solid black;
  margin: 2rem;
}

.frank:visited {
  color: black;
}

.mac:visited {
  color: black;
}

.tyler:visited {
  color: black;
}

.home:visited {
  color: black;
}

.mac,
.tyler,
.frank {
  text-decoration: none;
  border: 0.3rem solid black;
  border-radius: 1rem;
  background-color: #f5ded2;
  padding: 0.75rem;
}

.links {
  display: flex;
  justify-content: center;
  padding: 0rem;
}

ul {
  margin: 0rem;
}

/* p {
  margin: 0rem 15rem 0rem 15rem;
  border: 0.3rem solid black;
  border-radius: 1rem;
  background-color: #f5ded2;
  padding: 1rem;
  font-size: 1.3rem;
} */

.mac-name {
  font-size: 3rem;
}

.desc-mac,
.desc-frank,
.desc-tyler {
  margin: 2rem 15rem 0rem 15rem;
  border: 0.3rem solid black;
  border-radius: 1rem;
  background-color: #f5ded2;
  padding: 1rem;
  font-size: 1.3rem;
}

.footer {
  padding: 4rem;
}
